*{
    margin: 0%;
    padding: 0%;
}

.body{
    background: url("snake_bag.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(124, 244, 124), rgb(244, 244, 166));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background-color: red;
}
.snake{
    background-color: purple;
}
.food{
    background-color: yellow;

}